[Unit]
Description=Custom GPSD Service (manual launch)
After=network.target

[Service]
ExecStart=/usr/local/sbin/gpsd -n -N -D 2 -b /dev/ttyACM0
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
